<div class="center hero-unit">
  <h1>Welcome to Chatter!</h1>

  <%= link_to "Sign up", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.jpeg", alt: "Rails"), 'http://rubyonrails.org/' %>
