<%= provide(:title, 'Sign In') %>
<div>
  <form action="#" method="post">
    <label for="userid">User Name</label>
    <input type="text" id="userid" name="userid"><br/>
    <label for="password">Password</label>
    <input type="password" id="password" name="password"><br/>
    <input type="submit" value="Submit">
  </form>
</div>
