<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About" %></li>
      <li><%= link_to "Contact" %></li>
    </ul>
  </nav>
  
  <small>
    <p>Based on <a href="http://railstutuorial.org/">Rails Tutorial</a> by Michael Hartl</p>
    <p>&#169;2021, Imperial Sword Creations <br/>All rights reserved.</p>
  </small>
</footer>
