<body>
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container" style="float: right">
        <%= link_to "Chatter", "#", id: "logo" %>
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Home", '#' %></li>
            <li><%= link_to "Help", '#' %></li>
            <li><%= link_to "About", '#' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="container">
    <p>Welcome, Chatterbox!</p>
  </div>
</body>
